body {
    font-family: system-ui;
    background: #f06d06;
    color: white;
    text-align: center;
    width: 100vw;
}

label {
    display: block;
    padding: 10px 0;
}

input {
    width: 100%;
}

/* COMMON */

.container {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100vw;
    margin: 0 auto;
    color: maroon;
}

.btn {
    padding: 20px;
    font-weight: 600;
    color: blanchedalmond;
    /* width: 20px; */
    border-radius: 10px;
    background-color: burlywood;
}

/* Utilities */

.flex {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.gap-10 {
    gap: 10px;
}

.tilted-text {
    position: relative;
    width: 10%;
}

.rotate-90 {
    position: absolute;
    left: -60px;
    align-self: center ;
    text-wrap: nowrap;
    
    rotate: -90deg;
}


/* MAIN */
.input {
    width: 40%;
    padding: 5px;
    /* debug */
    /* border: 1px solid ; */
    /* background-color: lightblue; */
}

.form {
    width: 50%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.35);
    background-color: aliceblue;
}

.ticket {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.35);
    background-color: aliceblue;
}

.info th {
    padding: 0 10px;
}